@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
	--menu-hover:#000;
	--color-base:#fff;
	--color-verde:#27c79a;
}
body{
	font-family: Raleway;
	font-size: 14px;
	color: #000;
}
header{
	background-color: var(--color-base);
	color:#111
}

#hero{
	background-image: url("../img/header-background.jpg");
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 5% 0 ;
}
#hero h1{
	color: #09090d;
	font-size: 60px;
	font-weight: 500;
	margin-top: 17%;
}
#hero h4{
	color: #fff;
	margin-top: 30px;
	font-weight: 300;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#tabs {
	padding-top: 60px;
	
}
.column1{
	background-color: var(--color-verde);
}

.header{
	margin-left:20%;	
}
.section1{
	height: auto;
    float: right;
	margin-left:30%;
	background-color: #cce4e4;
}
.aside1{
	margin: 3%;
    width: 40%;
    height: 31.5em;
    float: left;
	background-color: #cce4e4;
}
.section2{
	margin-top: 35%;
	margin-right:20%;
	margin-left:0%;
	height: auto;
    float: center;	
}



.aside2{
	margin-left:20%;
    width: 40%;
    height: 31.5em;
    float: right;
}
.section3{
	margin-top: 45%;
	height: auto;
    float: center;
	text-align: center;
}
#prin {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.btn btn-light{
	--color-verde:#27c79a;
}

.footer-clean {
	padding:50px 0;
	background-color:#fff;
	color:#4b4c4d;
  }
  
  .footer-clean h3 {
	margin-top:0;
	margin-bottom:12px;
	font-weight:bold;
	font-size:16px;
  }
  
  .footer-clean ul {
	padding:0;
	list-style:none;
	line-height:1.6;
	font-size:14px;
	margin-bottom:0;
  }
  
  .footer-clean ul a {
	color:inherit;
	text-decoration:none;
	opacity:0.8;
  }
  
  .footer-clean ul a:hover {
	opacity:1;
  }
  
  .footer-clean .item.social {
	text-align:right;
  }
  
  @media (max-width:767px) {
	.footer-clean .item {
	  text-align:center;
	  padding-bottom:20px;
	}
  }
  
  @media (max-width: 768px) {
	.footer-clean .item.social {
	  text-align:center;
	}
  }
  
  .footer-clean .item.social > a {
	font-size:24px;
	width:40px;
	height:40px;
	line-height:40px;
	display:inline-block;
	text-align:center;
	border-radius:50%;
	border:1px solid #ccc;
	margin-left:10px;
	margin-top:22px;
	color:inherit;
	opacity:0.75;
  }
  
  .footer-clean .item.social > a:hover {
	opacity:0.9;
  }
  
  @media (max-width:991px) {
	.footer-clean .item.social > a {
	  margin-top:40px;
	}
  }
  
  @media (max-width:767px) {
	.footer-clean .item.social > a {
	  margin-top:10px;
	}
  }
  
  .footer-clean .copyright {
	margin-top:14px;
	margin-bottom:0;
	font-size:13px;
	opacity:0.6;
  }





